<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="logo">
        <h4>SON</h4><h4>OF</h4><h4>COD</h4>
    </div>
    <nav class="navbar navbar-default" id="navbar-one" role="navigation">
        <div class="container" id="navbar">
            <div class="navbar-nav" id="nav-one">
                <div id="navlink">@Html.ActionLink("Our Boats", "Boats", "Home")</div>
                <div id="navlink">@Html.ActionLink("Locations", "Locations", "Home")</div>
                <div id="navlink">@Html.ActionLink("Contact Us", "Contact", "Home")</div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default" id="navbar-two" role="navigation">
        <div class="container" id="navbar">
            <div class="navbar-nav" id="nav-two">
                <div id="navlink">@Html.ActionLink("HOME", "Index", "Home")</div>
                <div id="navlink">@Html.ActionLink("ABOUT US", "About", "Home")</div>
                <div id="navlink">@Html.ActionLink("PRODUCTS", "Index", "Products")</div>
                <div id="navlink">@Html.ActionLink("SIGN UP", "Create", "Subscribers")</div>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer">
        @Html.ActionLink("ADMIN PORTAL", "Login", "Account")
    </div>
</body>
</html>
