@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCod.Models.Product
<div class="product">
    <div id="product-head">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <img src=@Html.DisplayFor(model => model.Image) alt="fish photo done broke">
        <hr />
    </div>
    <div id="product-info">
        <div id="product-details">
            <span class="strong">@Html.DisplayNameFor(model => model.Cost):</span> $@Html.DisplayFor(model => model.Cost)<br /><br />
            <span class="strong">@Html.DisplayNameFor(model => model.Source):</span> @Html.DisplayFor(model => model.Source)<br /><br />
            <span class="strong">@Html.DisplayNameFor(model => model.Season):</span> @Html.DisplayFor(model => model.Season)<br /><br />
            <span class="strong">@Html.DisplayNameFor(model => model.Method): </span>@Html.DisplayFor(model => model.Method)<br /><br />
            <span class="strong">@Html.DisplayNameFor(model => model.Size):<br /></span>@Html.DisplayFor(model => model.Size)
        </div>
        <div id="product-desc">
            <h4>@Html.DisplayNameFor(model => model.Description)</h4>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>
<hr />
<p>@Html.ActionLink("Back to products", "Index")</p>